
<form #genericForm="ngForm" (ngSubmit)="onSubmit(genericForm)" novalidate>
      
      <div class="form-group" *ngFor="#prop of model">
        <div [ngSwitch]=prop.type>
        <label>{{prop.label}}</label>
         
          <div *ngSwitchWhen="'combo'">
            <ng-select [select_data]="prop" [selectedCombo]="selectedRecord[prop.name]"  >Loading...</ng-select>
          </div>
          
          <div *ngSwitchWhen="'textarea'">
            <textarea [(ngModel)]="selectedRecord[prop.name]" 
               class="form-control" placeholder="{{prop.label}}" required={{prop.required}}
              ></textarea>
          </div>
          <div *ngSwitchDefault>
              <input [(ngModel)]="selectedRecord[prop.name]" 
                  type={{prop.type}} class="form-control" placeholder="{{prop.label}}" required={{prop.required}}
               > 
          </div>
        </div>
       
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
</form>